@import url(https://fonts.googleapis.com/css?family=Delius+Swash+Caps|Love+Ya+Like+A+Sister|Source+Code+Pro:400,700);

/* Bootstrap */
ul.nav li a, ul.nav li a:visited {
  text-align: center;
  color: #ff69b4 !important;
  font-family: "Helvetica" !important;
}

ul.nav li a:hover, ul.nav li a:active {
  text-align: center;
  color: #ffd1dc !important;
  font-family: "Helvetica" !important;
}

ul.nav li.active a {
  text-align: center;
  color: #ffffff !important;
  font-family: "Helvetica" !important;
}

/* main */
main {
  padding-top: 50px;
}

body {
  background-image: url("https://i.imgur.com/SE2Hw8s.png");
  font-family: "Helvetica";
}

/* Text */
code {

}﻿

h1 {
  color: #ff69b4;
  font-family: 'Delius Swash Caps', cursive;
}

h2 {
  color: #b6fff4;
  font-family: 'Delius Swash Caps', cursive;
}

p {
  color: #ffd1dc;
  font-family: 'Helvetica', monospace;
}

/* Links */
a.linkbutton {
  color: #ff69b4;
  text-decoration: none;
}

a.linkbutton:hover {
  color: #ffd1dc;
  text-decoration: none;
}

dl {
  padding: 0; 
  width: 40%;
}

/*idk*/

.infoarea {
  
}

dl.info {
  display:table; 
  margin-left: auto; 
  margin-right: auto; 
  margin-bottom: 75px;
}

dl dt.section {
  font-size: 18px;
  margin-top: 5px;
  color: #57a1b7;
}

dl dd.content {
  font-size: 14px;
  margin-top: 5px;
  margin-left: 25px;
  color: #ffd1dc;
}

/* divs */

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  margin-top: 85px;
  z-index: -1
  border-top: 1px solid;
}

.innertext {
  /*font-size: 18px; */
  text-align: center;
}

.title {
  font-family: 'Delius Swash Caps';
  color: #ff69b4;
  text-align: center;
  display: block;
  font-size: 2em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

.titlesub {
  font-family: 'Delius Swash Caps';
  color: #57a1b7;
  text-align: center;
  font-size: 22px;
}

.sectiontitle {
  color: #57a1b7;
  font-family: 'Source Code Pro'; 
  font-size: 24px; 
  margin-top: -25px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.sectiontext {
  color: #ffd1dc;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.linkrow {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Helvetica'; 
  font-size: 14px;
  text-align: center;
}

/* Space out content a bit */
body {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}
@media screen and (min-width: 768px) {
  .header {
    margin-bottom: 30px;
  }
}
