<div id="footer" class="footer">
  <div class="innertext">
    <!--
    <a style="color: #778899;" href="/contact" target="_blank" title="Contact me">contact</a>
     - 
    <a style="color: #778899;" href="https://github.com/Ditsypop/Ditsypop.github.io" target="_blank" title="Website source code">source</a>
     - 
    <a style="color: #778899;" href="/privacy" target="_blank" title="Privacy policy">privacy policy</a>
    -->
    <a href="//www.iubenda.com/privacy-policy/7896093" class="iubenda-black iub-legal-only iubenda-embed" title="Privacy Policy">Privacy policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="static/vendor/bootstrap-3.3.7/js/bootstrap.min.js"></script>