<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="description" content="Personal site for Alyssa (@ditsypop)">
  <meta name="keywords" content="Alyssa, Ditsypop, Discord, Boosting, Twitch, CSGO, Counter strike, Dits, Ditzypop">
  <meta name="author" content="Alyssa (Ditsypop)">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:site_name" content="Ditsypop">
  <meta property="og:title" content="Alyssa (Ditsypop)">
  <meta property="og:description" content="Personal site for Alyssa (@ditsypop)">
  <meta property="og:url" content="https://ditsypop.github.io">
  <meta property="og:type" content="website">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="css/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>