<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  {% if page.descr %}<meta name="description" content="{{ page.descr }}">{% endif %}
  <meta name="keywords" content="alyssa, dits, ditsypop, discord, boosting, twitch, csgo, counter strike, ditzypop">
  <link rel="stylesheet" href="static/vendor/bootstrap-3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="static/web/css/styles.css">
</head>
<body>