<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span> 
    </button>
      <a class="navbar-brand" style="color: #FF8000 !important; font-size:20px !important; font-family: 'Delius Swash Caps', cursive !important;" href="{{ site.baseurl }}/">Ditsypop</a>
    </div>
    <div class="collapse navbar-collapse" id="navigation">
        <ul class="nav navbar-nav">
          <li><a href="/contact">contact</a></li>
          <li><a href="/boosting">boosting</a></li>
          <li><a href="/donate">donate</a>
          <li><a target="_blank" href="{{ site.baseurl }}discord">discord</a></li> 
          <li><a target="_blank" href="steam/profile">steam</a></li> 
          <li><a target="_blank" href="/twitter">twitter</a></li> 
          <li><a target="_blank" href="/twitch">twitch</a></li> 
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a style="color: #1EFF00 !important; font-size:20px !important; font-family: 'Delius Swash Caps', cursive !important;" href="/donate">Payments</a></li>
        </ul>
    </div>
  </div>
</nav>